<p id="notice"><%= notice %></p>

<h1>Store Flavors</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Flavor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_flavors.each do |store_flavor| %>
      <tr>
        <td><%= store_flavor.store_id %></td>
        <td><%= store_flavor.flavor_id %></td>
        <td><%= link_to 'Show', store_flavor %></td>
        <td><%= link_to 'Edit', edit_store_flavor_path(store_flavor) %></td>
        <td><%= link_to 'Destroy', store_flavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store Flavor', new_store_flavor_path %>


<div class="center white">
<h2>Stores in the System</h2>
</div>
<div class="col s8">
<table class="bordered centered white">
  <thead>
          <tr>
              <th>Store_Flavor</th>
          </tr>
  </thead>
  <tbody>

<% @stores.each do |store| %>
  <tr>
  <td><button class="waves-effect waves-teal btn purple"><i class="material-icons right">store</i><%= link_to store.name, store_path(store), :class=>"white-text" %> </button></td>
  <td><button class="waves-effect waves-teal btn green"><i class="material-icons right">edit</i><%= link_to 'Edit', edit_store_path(store), :class=>"white-text" %> </button></td> 
  <td><button class="waves-effect waves-teal btn red"><i class="material-icons right">delete</i><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete, :class=>"white-text" %> </button></td>
  
  </tr>
<% end %>
  </tbody>
</table>
</div>

<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
</div>
<br />
<div class="Section">
<div class="col s1 center"> 
</div>
<div class="col s3 center">       
    <!-- SIDEBAR CONTENT GOES HERE -->       
    <%= render partial: 'partials/stores/quick_links' %>     
</div> 
</div>






