<%= form_for(@employee) do |f| %>
<%= hidden_field_tag "employee[author_ids][]", nil%>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>

				<h2>employee details:</h2>
				<div class="input-field">
			    <%= f.label :first_name %><br />
			    <%= f.text_field :first_name %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :last_name %><br />
			    <%= f.text_field :last_name %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :ssn %><br />
			    <%= f.number_field :ssn %>
			  </div>
			  
			  <div class="input-field">     
				<%= f.label :date_of_birth %>     
				<%= f.text_field :date_of_birth, prompt: "Date of Birth", class: "datepicker", :value => 
				(f.object.date_of_birth.strftime('%B %d, %Y') if f.object.date_of_birth != nil)%>   
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :phone %><br />
			    <%= f.text_field :phone %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :role %><br />
			    <%= f.text_field :role %>
			  </div>


			  
			  <div class="input-field">
			    <%= f.label :active %><br />
			    <%= f.text_field :active %>
			  </div>
			  
			

			  <div class="actions">    
			  	<%= f.submit :class=>"btn waves-effect waves-light btn green" %>     
			  	<%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-light btn red' %>   
			  </div>
			</td>
			<td width="25">&nbsp;</td>
		</tr>
	</table>
<% end %>
	