<div class="center white">
<h2>Regular Employees in the System</h2>
</div>
<div class="col s8">
<table class="bordered centered white">
  <thead>
          <tr>
              <th>employee</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
  </thead>
  <tbody>

<% @employees.each do |employee| %>
  <tr>
  <td><button class="waves-effect waves-teal btn purple"><i class="material-icons right">person</i><%= link_to employee.name, employee_path(employee), :class=>"white-text" %> </button></td>
  <td><button class="waves-effect waves-teal btn green"><i class="material-icons right">edit</i><%= link_to 'Edit', edit_employee_path(employee), :class=>"white-text" %> </button></td> 
<td><button class="waves-effect waves-teal btn red"><i class="material-icons right">delete</i><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete, :class=>"white-text" %> </button></td>
  
  </tr>
<% end %>
  </tbody>
</table>
</div>

<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @employees, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
</div>
<br />
<div class="Section">
<div class="col s1 center"> 
</div>
<div class="col s3 center">       
    <!-- SIDEBAR CONTENT GOES HERE -->       
    <%= render partial: 'partials/employees/quick_links' %>     
</div> 
</div>