<div class="center white">
<h2>Employee details</h2>
</div>
<div class="col s8">
<table class="bordered centered white">
  <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Social Security Number</th>
              <th>Date of Birth</th>
              <th>Phone Number</th>
              <th>Role</th>
              <th>Active</th>
              <th>Email</th>
          </tr>
  </thead>
  <tbody>
          <tr>
            <td><%= @employee.first_name %></td>
            <td><%= @employee.last_name %></td>
            <td><%= @employee.ssn %></td>
            <td><%= @employee.date_of_birth %></td>
            <td><%= @employee.phone %></td>
            <td><%= @employee.role %></td>
            <td><%= @employee.active %></td>
            <td><%= @employee.user.email %></td>
          </tr>
  </tbody>
</table>
</br>
</br>
<button class="waves-effect waves-light btn red"><i class="material-icons right">edit</i><%= link_to 'Edit', edit_employee_path(@employee), :class=>"white-text" %> </button> 
<button class="waves-effect waves-light btn green"><i class="material-icons right">keyboard_backspace</i><%= link_to 'Back', employees_path, :class=>"white-text" %> </button>
</div>

<div class="col s1">    
</div> 
<div class="col s3">       
        <!-- SIDEBAR CONTENT GOES HERE -->       
        <%= render partial: 'partials/employees/quick_links' %>     
</div> 
