<p>
  <b>Store:</b>
  <%= @assignment.:store_id %>
</p>

<p>
  <b>Employee:</b>
  <%= @assignment.employee_id %>
</p>

<p>
  <b>Start Date:</b>
  <%= @assignment.start_date.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @assignment.end_date.strftime("%m/%d/%y") unless @assignent.end_date.nil? %>
</p>

<p>
  <b>Pay level:</b>
  <%= @assignment.pay_level %>
</p> 


<%= link_to 'Edit', edit_assignment_path(@assignment), :class => 'waves-effect waves-light btn red' %> |
<%= link_to 'Back', assignments_path, :class => 'waves-effect waves-light btn green' %>