<div class="center white">
<h2>Flavor details</h2>
</div>
<div class="col s8">
<table class="bordered centered white">
  <thead>
          <tr>
              <th>Name</th>
              <th>Active</th>
          </tr>
  </thead>
  <tbody>
          <tr>
            <td><%= @flavor.name %></td>
            <td><%= @flavor.active %></td>
          </tr>
  </tbody>
</table>
</br>
</br>
<button class="waves-effect waves-light btn red"><i class="material-icons right">edit</i><%= link_to 'Edit', edit_flavor_path(@flavor), :class=>"white-text" %> </button> 
<button class="waves-effect waves-light btn green"><i class="material-icons right">keyboard_backspace</i><%= link_to 'Back', flavors_path, :class=>"white-text" %> </button> 
</div>

<div class="col s1">    
</div> 
<div class="col s3">       
        <!-- SIDEBAR CONTENT GOES HERE -->       
        <%= render partial: 'partials/flavors/quick_links' %>     
