<%= form_for(@store) do |f| %>
<%= hidden_field_tag "store[author_ids][]", nil%>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="col s8 centered">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
				<h2>store details:</h2>
				<div class="input-field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :street %><br />
			    <%= f.text_field :street %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :zip %><br />
			    <%= f.text_field :zip %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :city %><br />
			    <%= f.text_field :city %>
			  </div>
			  
			  <div class="field">
			    <%= f.label :state %><br />
			    <%= f.select :state, options_for_select([['Pennsylvania (PA)', 'PA'], ['Ohio (OH)','OH'], ['West Virginia (WV)', 'WV']]), :prompt => "Select ..." %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :phone %><br />
			    <%= f.text_field :phone %>
			  </div>

	
				<div class="input-field">
			    <%= f.label :latitude %><br />
			    <%= f.number_field :latitude, :step => :any %>
			  </div>
			  
			  <div class="input-field">
			    <%= f.label :longitude %><br />
			    <%= f.number_field :longitude, :step => :any %>
			  </div>
			  
			  
      		 
      		 <div class="field">
			    <%= f.label :active %><br />
			    <%= f.select :active, options_for_select([['Active', true], ['Inactive',false]]), :prompt => "Select ..." %>
			  </div>
				
			  <div class="actions">    
			  	<%= f.submit :class=>"btn waves-effect waves-light btn green" %>     
			  	<%= link_to 'Cancel', stores_path, :class => 'waves-effect waves-light btn red' %>   
			  </div>
			</td>
			<td width="25">&nbsp;</td>
		</tr>
	</table>
	</div>
<% end %>
	