<h2>Active Stores in the System</h2>
<div class="col s9">
<table class="bordered centered">

<% @stores.each do |store| %>
  <tr>
    <td><%= link_to store.name, store_path(store) %></td>
    <td><%= link_to 'Edit', edit_store_path(store), :class=> "waves-effect waves-light btn light-blue" %></td> 
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete,  :class=> "waves-effect waves-light btn red" %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
</div>
<br />
<div class="Section"></div>
<div class="col s3">       
    <!-- SIDEBAR CONTENT GOES HERE -->       
    <%= render partial: 'partials/stores/quick_links' %>     
</div> 
</div> 
