<%= form_for(@job) do |f| %>
<%= hidden_field_tag "job[author_ids][]", nil%>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="col s8 centered">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
				<h2>Job details:</h2>
  <div class="input-field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
  </div>

  <div class="input-field">
		<%= f.label :description %><br />
	  <%= f.text_area :description, :class=>"materialize-textarea length= 100"%>
	</div>
			  
			  
  <div class="field">
			<%= f.label :active %><br />
			<%= f.select :active, options_for_select([['Active', true], ['Inactive',false]]), :prompt => "Select ..." %>
	</div>

  <div class="actions">    
			  	<%= f.submit :class=>"btn waves-effect waves-light btn green" %>     
			  	<%= link_to 'Cancel', jobs_path, :class => 'waves-effect waves-light btn red' %>   
			  </div>
			</td>
			<td width="25">&nbsp;</td>
		</tr>
	</table>
	</div>
<% end %>
