<%= form_for(@shift_job) do |f| %>
<%= hidden_field_tag "shift_job[author_ids][]", nil%>
  <% if @shift_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_job.errors.count, "error") %> prohibited this shift_job from being saved:</h2>

      <ul>
      <% @shift_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="col s8 centered">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
				<h2>Shift_Job details:</h2>
  <div class="input-field">
			    <%= f.label :shift_id %><br />
			    <%= f.collection_select :shift_id, Shift.chronological, :id, :id, :prompt => "Select ..." %>
			  </div>
			  
	<div class="input-field">
			    <%= f.label :job_id %><br />
			    <%= f.collection_select :job_id, Job.alphabetical, :id, :name, :prompt => "Select ..." %>
			  </div>

  <div class="actions">    
			  	<%= f.submit :class=>"btn waves-effect waves-light btn green" %>     
			  	<%= link_to 'Cancel', shift_jobs_path, :class => 'waves-effect waves-light btn red' %>   
			  </div>
			</td>
			<td width="25">&nbsp;</td>
		</tr>
	</table>
	</div>
<% end %>
