<!DOCTYPE html>
<html>
 <div class="parallax-container">
      <div class="parallax"><img src="https://images.milled.com/2018-05-20/qU-7XlLa_l8BKoHB/dZd7tBcI8WxF.gif"></div>
    </div>
<head>
  <title>Amazing & Marvelous Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body> 
<!-- Dropdown Structure --> 
<ul id="dropdown1" class="dropdown-content">   
  <li><%= link_to "List Stores", stores_path %></li>   
  <li><%= link_to "Add an Store", new_store_path %></li> 
</ul> 

<ul id="dropdown2" class="dropdown-content">   
  <li><%= link_to "List Assignments", assignments_path %></li>   
  <li><%= link_to "Add an Assignment", new_assignment_path %></li> 
</ul>

<ul id="dropdown3" class="dropdown-content">   
  <li><%= link_to "List Employees", employees_path %></li>   
  <li><%= link_to "Add an Employee", new_employee_path %></li> 
</ul>


<nav>   
  <div class="nav-wrapper">     
    &nbsp&nbsp     
    <a href="home" class="brand-logo">Amazing & Marvelous Creamery</a> 
    <a href="#" class="brand-logo center"><img src="https://purepng.com/public/uploads/large/purepng.com-ice-creamice-creamcreamsweetfrozen-1411527619000jmeti.png" width="60" height="60"></a>
 
    <ul class="right hide-on-med-and-down">       
      <li><%# link_to "employees", employees_path %></li>
      <!-- Only add this line if you did the work for the employees controller -->       
      <!-- Dropdown Trigger -->       
      <li><a class="dropdown-button" href="/stores" data-activates="dropdown1">Stores<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li><a class="dropdown-button" href="/assignments" data-activates="dropdown2">Assignments<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/employees" data-activates="dropdown3">Employees<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="waves-effect waves-light btn" href="logout">Logout</a></li>
    </ul> 
 
  </div> 
</nav>
  <div class="row">    
    <div class="center">       
      <!-- MAIN CONTENT GOES HERE -->       

    <%= yield %>
    </div> 
 
    </div> 

    <footer>     
      <div class="row">       
        <div class="center page-footer #fce4ec">        
          <%= render partial: 'partials/footer' %>      
        </div>     
      </div>    
    </footer>   
</body> 

<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>     
  <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>   
<% end %>
</html>
